<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }} - {{ project }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='dist/css/sb-admin-2.css') }}" rel="stylesheet">
</head>

<body>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Status of {{ project }}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="table-responsive table-bordered">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Host</th>
                            <th>Platform</th>
                            <th>Commit</th>
                            <th>Status</th>
                            <th>Logfile</th>
                            <th>Binaries</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in entries %}
                        {% if not entry[4] %}
                        <tr class="success">
                        {% else %}
                        <tr class="danger">
                        {% endif %}
                            <td>{{ entry[1] }}</td>
                            <td>{{ entry[3] }}</td>
                            <td>{{ entry[2] }}</td>
                            {% if not entry[4] %}
                            <td>Success</td>
                            {% else %}
                            <td>Failure</td>
                            {% endif %}
                            <td><a href="logs/{{ entry[0] }}">(Link)</a></td>
                            <td><a href="bin/{{ entry[0] }}">(Link)</a></td>
                        </tr>
                        {% else %}
                        <tr class="info">
                            <td>N/A</td>
                            <td>No builds to display!</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</body>
</html>
